[submodule "angular-realworld-example-app"]
	path = angular-realworld-example-app
	url = https://github.com/gothinkster/angular-realworld-example-app.git
[submodule "realworld"]
	path = realworld
	url = https://github.com/gothinkster/realworld.git
[submodule "waitress"]
	path = waitress
	url = https://github.com/Pylons/waitress
