name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive  # needed for angular-realworld-example-app

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Frontend patching  # no var env for backend configuration + withCrendentials for cross domain cookie
        run: |
          mv patch-frontend-api-url-and-cookies.patch angular-realworld-example-app
          cd angular-realworld-example-app
          git apply patch-frontend-api-url-and-cookies.patch

      - name: Build your site
        run: |
          cd angular-realworld-example-app
          bun install
          bun run ng build -c production

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './angular-realworld-example-app/dist/angular-conduit/browser'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
