name: Test Hurl

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true  # single-level submodules
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: 3.12
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
    - name: Install Hurl
      run: |
        curl --location --remote-name https://github.com/Orange-OpenSource/hurl/releases/latest/download/hurl_amd64.deb
        sudo apt update && sudo apt install ./hurl_amd64.deb
    - name: Run Tests
      run: |
        make test-dummy-server-api-with-hurl
