name: Test Postman

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true  # single-level submodules
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: 3.12
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
    - name: Install Newman
      run: bun install --global newman
    - name: Run Tests
      run: |
        make test-dummy-server-api-with-postman SERVER_STARTUP_WAIT=3
